p{
    margin:0px;
}
input{
    height:30px !important;
}
#firstbar{
    background:#f1c967;
    width:100%;
    height:8px;
}

header a, header{
    color:#999999;
}

.row{
    margin-left:0px;
    margin-right:0px;
}

.navbar-default {
    
}

footer a{
    color:#808080;
}

.navbar-nav > li {    
    text-align: center;
}

/*********************************** Productos *****************/
.productos{
    color:#808080;
    
}
.productos:hover{
    color:#808080;
    text-decoration:underline;
}
.productos img{
    //transition:0.4s ease-out;
}
.productos img{
    border:2px solid #F3F3F3;
}
.productos:hover img{
    //padding:10px;
    border-radius:1em;
    border:2px solid #F3F3F3;
    //transition:0.4s ease-in;
}
#foto{
    margin-bottom:20px;
}
.miniatura{
    margin:0 5px;
    padding:0px;
    cursor:pointer;
}
.miniatura.active img,.miniatura:hover img{
    height:2.2em;
    transition:0.4s ease-in;
}

.miniatura img{
    border:1px solid black;
    padding:5px 0;
    height:2em;
    transition:0.4s ease-out;
}

.categorias li{
    list-style:none;   
}

.categorias li{
    margin:0px;
    padding:0px;
}

.related{
    margin:20px;
}
.related h1{
    border-bottom:1px dashed lightgray;
}
